body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    
    padding: 20px;
}

.blocos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocos2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 33px;
    margin-top: -17px;
}

.bloco{
    width: 16px;
    height: 16px;
    background-color: #a4a8a4;
    padding: 0%;
    border: 1px solid black;
    list-style-type: none;
    margin: 8px;
}

.velha {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 40px auto;
    }

   
.v{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: black;
    }
.v:nth-child(1) {
    left: 33.3%;
    }
.v:nth-child(2) {
    left: 66.6%;
    }

   
.h {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: black;
    }
.h:nth-child(3) {
    top: 33.3%;
    }
.h:nth-child(4) {
    top: 66.6%;
    }
